.service-body{
    padding: 80px 50px ;
    background-color: rgb(61, 61, 61);
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.service-btn{
    border: 1px solid white;
    padding: 8px;
    color: white;
    text-decoration: none;
    border-radius: 24px;
}

.service-item{
    background-color: rgb(148, 147, 147);
    border-radius: 24px;
}