.about{
    min-height: 70vh;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-btn{
    font-size: 1.8em;font-weight: 600;
    border: 1px solid black;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    border-radius: 24px;
}

.about-left{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.group-img1, .group-img2{
    width: 50%;
    height: auto;
    border-radius: 20px;
}

.group-img2{
    width: 30%;
    position: absolute;
    right: 15%;
    bottom: 10px;
    border: 10px solid white;
}

.about-head{
    font-size: 3rem;
}

.about-para{
    font-size: 1.5em;
    text-align: justify;
}

.learn-more-link{
    color: black;
    text-decoration: none;
}

.right-arrow{
    width: 30px;
    animation: moveArrow 1s ease-in-out infinite alternate;
}

@keyframes moveArrow {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(7px); /* Move the arrow right by 10px */
    }
  }

/* .right-arrow:hover{
    transition: width 0.5s ;
    width: 50px;
} */

@media only screen and (max-width: 1460px){
    .group-img1, .group-img2{
        width: 70%;
        height: auto;
        border-radius: 20px;
    }
    
    .group-img2{
        width: 50%;
        position: absolute;
        right: 5%;
        bottom: 15%;
        border: 10px solid white;
    }

    .about-right{
        margin-top: 80px !important;
    }
}

@media only screen and (max-width: 768px){
    .group-img1, .group-img2{
        width: 90%;
        height: auto;
        border-radius: 20px;
    }
    
    .group-img2{
        width: 50%;
        position: absolute;
        right: -4%;
        bottom: -25%;
        border: 10px solid white;
    }

    .about-right{
        margin-top: 80px !important;
    }
}

@media only screen and (max-width: 425px){
    .group-img1, .group-img2{
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    
    .group-img2{
        width: 50%;
        position: absolute;
        right: 15%;
        bottom: -25%;
        border: 10px solid white;
    }

    .about-right{
        margin-top: 40px !important;
    }
}